<div id='header'>
	<div class='o-auto;'>
		<div class='fleft' style='margin-top:3px;'>
			<a href='/' title="Go to Home" class='logo'></a>
		</div>
		<div class= 'o-auto fright' style="text-align:right;">
			<div id='header-links'>
				<ul class="size-12">
					<li><%= link_to 'Student', students_path %></li>
					<li><%= link_to 'Teacher', teachers_path %></li>
					<li><%= link_to 'Classroom', classrooms_path %></li>
					<li><%= link_to 'Subject', subjects_path %></li>
					<li><%= link_to 'Attendance', attendances_path %></li>
					<li><%= link_to 'Schedule', schedules_path %></li>
					<li><%= link_to 'Notes', notes_path %></li>
					<li><%= link_to 'Holidays', holidays_path %></li>
				</ul>
			</div>
		</div>
		<div class="fclear"></div>
	</div>
</div>