<!DOCTYPE html>
<html>
<head>
  <title>Pandora Box</title>
  <%= stylesheet_link_tag    'application', 'scaffolds' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div class="wrapper m-auto">
			<%#<!-- Header-->%>
			<%= render :partial => '/layouts/header' %>
			<%#<!-- Main-->%>
			<div class="wrapper-body">
				<%= yield %>
			</div>
			<%#<!-- Footer --> %>
			<%#= render :partial => '/layouts/footer' %>
		</div>
	</body>
</html>
